
body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F5FC;
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    
}
.logo{
    width: 100%;
    float: left;
    
}
.left{
    width: 70%;
    float: left;
    height: 80%;
    border-radius: 24px;
    
}
.rigth{
    width: 30%;
    float: right;
    height: auto;
    border-radius: 24px;
    background-color: white;
}
.left-buttom{
    width: 70%;
    float: left;
    height: auto;
    border-radius: 24px;
    
}
.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}
.tittle{
    float: inherit;
    margin-left: 15%;
}
.tex-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20PX;
    border: none;
    outline: none;
    background:#F3F5FC ;
}
#imgMunheco{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}
#texto{
    margin-left: 7%;
    margin-right: 5%;
}
#textoDesencriptado{
    float: left;
    margin-left: 10%;
     width: 80%;
    height: 60%;
    color: #0A3871;
    font-size: 12PX;
    border: none;
    outline: none;
}
#botonEncriptado{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
}
#botonDesencriptado{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #D8DFE8;
}
#botonCopiar{
    display: none;
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    border-radius: 24px;
    background: #D8DFE8;
}